<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|json|lock|swp)|~)$">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>

<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>

RewriteEngine on
RewriteRule ^detalles/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=detalles&mode=productos&id=$1
RewriteRule ^mostrar/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=mostrar&id=$1