<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|json|lock|swp)|~)$">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>

<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>

RewriteEngine on
RewriteRule ^detalles/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=detalles&mode=productos&id=$1
RewriteRule ^mostrar/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=mostrar&id=$1
RewriteRule ^mostrarPag/([0-9]+)\-([a-zA-Z0-9-]+)\-([0-9]*)$ ?view=mostrar&id=$1&pag=$3
RewriteRule ^condicion/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=mostrar&condicion=$1
RewriteRule ^condicionPag/([0-9]+)\-([a-zA-Z0-9-]+)\-([0-9]*)$ ?view=mostrar&condicion=$1&pag=$3
RewriteRule ^promocion/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=mostrar&oferta=$1
RewriteRule ^promocionPag/([0-9]+)\-([a-zA-Z0-9-]+)\-([0-9]*)$ ?view=mostrar&oferta=$1&pag=$3
RewriteRule ^marca/([a-zA-Z0-9-]*)$ ?view=mostrar&marca=$1
RewriteRule ^marcaPag/([a-zA-Z0-9-]+)\-([0-9]*)$ ?view=mostrar&marca=$1&pag=$2