<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|json|lock|swp)|~)$">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>

<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>

RewriteEngine on
RewriteRule ^home/$ ?view=index
RewriteRule ^detalles/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=detalles&mode=productos&id=$1
RewriteRule ^mostrar/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=mostrar&id=$1
RewriteRule ^mostrarPag/([0-9]+)\-([a-zA-Z0-9-]+)\-([0-9]*)$ ?view=mostrar&id=$1&pag=$3
RewriteRule ^condicion/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=mostrar&condicion=$1
RewriteRule ^condicionPag/([0-9]+)\-([a-zA-Z0-9-]+)\-([0-9]*)$ ?view=mostrar&condicion=$1&pag=$3
RewriteRule ^promocion/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=mostrar&oferta=$1
RewriteRule ^promocionPag/([0-9]+)\-([a-zA-Z0-9-]+)\-([0-9]*)$ ?view=mostrar&oferta=$1&pag=$3
RewriteRule ^marca/([a-zA-Z0-9-]*)$ ?view=mostrar&marca=$1
RewriteRule ^marcaPag/([a-zA-Z0-9-]+)\-([0-9]*)$ ?view=mostrar&marca=$1&pag=$2
RewriteRule ^contacto/$ ?view=detalles&mode=contacto
RewriteRule ^carrito/$ ?view=carrito&mode=ver
RewriteRule ^agregar/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=carrito&mode=add&producto=$1
RewriteRule ^borrar/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=carrito&mode=delete&producto=$1
RewriteRule ^vaciar/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=carrito&mode=vaciar&usuario=$1
RewriteRule ^agregar-Favoritos/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=favoritos&mode=add&producto=$1
RewriteRule ^borrar-de-Favoritos/([0-9]+)\-([a-zA-Z0-9-]*)$ ?view=favoritos&mode=delete&producto=$1
RewriteRule ^favoritos/$ ?view=favoritos&mode=all
RewriteRule ^perfil/$ ?view=perfil
RewriteRule ^Stock/$ ?view=productos
RewriteRule ^Subcategorias/$ ?view=subcategorias
RewriteRule ^Categorias/$ ?view=categorias
RewriteRule ^Usuarios/$ ?view=userAdm
RewriteRule ^Reporte-Productos/$ ?view=reportes&mode=inv
RewriteRule ^Reporte-Usuarios/$ ?view=reportes&mode=user
RewriteRule ^Promociones/$ ?view=promociones
RewriteRule ^Procesar-Compra/$ ?view=detalles&mode=checkout
RewriteRule ^Confirmar-Compra/$ ?view=detalles&mode=checkoutConfirm
RewriteRule ^Editar-Datos-Compra/$ ?view=detalles&mode=checkoutEdit
