.titulo_categoria {
  background: #2c2c2c;
  color: #fff;
  font-weight: 100;
  font-size: 17px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -mozborder-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}

.categorias_con_foros {
  margin-bottom: 7px;
}

.foros {
  width: 100%;
  padding-left: 5px;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  max-height: 50px;
  padding-top: 5px;
}

.foros div.left_border {
  border-left: 1px solid #e0e0e0;
}

.foros div a {
  color: #0a78ba;
  font-weight: bold;
}

.foros div a:hover {
  color: #52a4d5;
}

.puntitos {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
